<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Lizard | Control Panel</title>

    <link rel="stylesheet" type="text/css" href="/public/cp/css/bootstrap/bootstrap.min.css"/>

    <script src="/public/cp/js/demo-rtl.js"></script>


    <link rel="stylesheet" type="text/css" href="/public/cp/css/libs/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/public/cp/css/libs/nanoscroller.css"/>

    <link rel="stylesheet" type="text/css" href="/public/cp/css/compiled/theme_styles.css"/>


    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    <link type="image/x-icon" href="/public/cp/favicon.png" rel="shortcut icon"/>
    <!--[if lt IE 9]>
    <script src="/public/cp/js/html5shiv.js"></script>
    <script src="/public/cp/js/respond.min.js"></script>
    <![endif]-->

    <script src="/public/cp/js/demo-skin-changer.js"></script>
    <script src="/public/cp/js/jquery.js"></script>
    <script src="/public/cp/js/bootstrap.js"></script>
    <script src="/public/cp/js/jquery.nanoscroller.min.js"></script>
    <script src="/public/cp/js/demo.js"></script>


    <script src="/public/cp/js/scripts.js"></script>

</head>
<body id="login-page" class="theme-blue">
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>

</body>
</html>
