<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>CP | {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/public/cp/css/bootstrap/bootstrap.min.css"/>

    <script src="/public/cp/js/demo-rtl.js"></script>


    <link rel="stylesheet" type="text/css" href="/public/cp/css/libs/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/public/cp/css/libs/nanoscroller.css"/>

    <link rel="stylesheet" type="text/css" href="/public/cp/css/compiled/theme_styles.css"/>


    <link type="image/x-icon" href="/public/cp/favicon.png" rel="shortcut icon"/>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="/public/cp/js/html5shiv.js"></script>
    <script src="/public/cp/js/respond.min.js"></script>
    <![endif]-->

    <script src="/public/cp/js/demo-skin-changer.js"></script>
    <script src="/public/cp/js/jquery.js"></script>
    <script src="/public/cp/js/bootstrap.js"></script>
    <script src="/public/cp/js/jquery.nanoscroller.min.js"></script>
    <script src="/public/cp/js/demo.js"></script>


    <script src="/public/cp/js/scripts.js"></script>
    <script src="/public/cp/js/pace.min.js"></script>

</head>
<body>
<div id="theme-wrapper">
    <header class="navbar" id="header-navbar">
        <div class="container">
            <a href="index.html" id="logo" class="navbar-brand">
                <img src="/public/cp/img/logo.png" alt="" class="normal-logo logo-white"/>
                <img src="/public/cp/img/logo-black.png" alt="" class="normal-logo logo-black"/>
                <img src="/public/cp/img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/>
            </a>
            <div class="clearfix">
                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-no-collapse pull-right" id="header-nav">

                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                            <div class="user-box">
                                <span class="name">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{ user.name }}
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="user-profile.html"><i class="fa fa-user"></i>Профиль</a></li>
                                    <li><a href="#"><i class="fa fa-cog"></i>Настройки</a></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i>Выйти</a></li>
                                </ul>
                                </span>

                            </div>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="nav-header nav-header-first hidden-sm hidden-xs">
                                    Навигация
                                </li>

                                [[cp.menu]]


                            </ul>
                        </div>
                    </div>
                </section>
                <div id="nav-col-submenu"></div>
            </div>
            <div id="content-wrapper">

                [[cp.breadcrumb]]

                {% block body %}
                {% endblock %}

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Powered by PRISM Theme.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<div id="config-tool" class="closed">
    <a id="config-tool-cog">
        <i class="fa fa-cog"></i>
    </a>
    <div id="config-tool-options">
        <h4>Быстрые настройки</h4>
        <ul>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-fixed-header"/>
                    <label for="config-fixed-header">
                        ФИксированная шапка
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-fixed-sidebar"/>
                    <label for="config-fixed-sidebar">
                        Фиксированное меню
                    </label>
                </div>
            </li>

            <li>
                <div class="checkbox-nice">
                    <input type="checkbox" id="config-boxed-layout"/>
                    <label for="config-boxed-layout">
                        Сжатый дизайн
                    </label>
                </div>
            </li>

        </ul>
        <br/>
        <h4>Цветовая схема</h4>
        <ul id="skin-colors" class="clearfix">
            <li>
                <a class="skin-changer" data-skin="theme-navyBlue" data-toggle="tooltip" title="Navy Blue" style="background-color: #34495e;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-white" data-toggle="tooltip" title="White/Green" style="background-color: #2ecc71;">
                </a>
            </li>
            <li>
                <a class="skin-changer blue-gradient" data-skin="theme-blue-gradient" data-toggle="tooltip" title="Gradient">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-greenSea" data-toggle="tooltip" title="Green Sea" style="background-color: #6ff3ad;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-amethyst" data-toggle="tooltip" title="Amethyst" style="background-color: #9b59b6;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-blue" data-toggle="tooltip" title="Blue" style="background-color: #7FC8BA;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-red" data-toggle="tooltip" title="Red" style="background-color: #e74c3c;">
                </a>
            </li>
            <li>
                <a class="skin-changer" data-skin="theme-whbl" data-toggle="tooltip" title="White/Blue" style="background-color: #1ABC9C;">
                </a>
            </li>
        </ul>
    </div>
</div>


</body>
</html>
