
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label" for="inputDefault">Email</label>
                    <input type="text" class="form-control" id="user-signin-email">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label" for="inputDefault">Password</label>
                    <input type="password" class="form-control" id="user-signin-password">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        {% if component_options.show_other_links == 1 %}
        <a href="#">register</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">forgot password</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        <b><a id="user-signin" href="#">SignIn »</a></b>
    </div>
</div>

<script>
    $("#user-signin").click(function(e){
        e.preventDefault();
        console.log("TEST");
        var email = $("#user-signin-email").val();
        var password = $("#user-signin-password").val();

        $.ajax({
            type: "POST",
            url: "?",
            data: { ajax: 1, action: 'user.signin', email: email, password: password }
        })
                .done(function( msg ) {
                    console.log(msg);
                });
    });
</script>